body{
    background-color: #e1e6ed;
}

.testbg{
    background-color:red;
}

.littletopspace{
    margin-top: 4px;
}

.largebannerfont{
    font-family: 'Kreon', serif;
    font-size: 1.2em;
    font-weight: 700;
    color:#61656b;
}

.newspanelheader{
    font-family: 'Kreon', serif;
    font-weight:700;
    color:#61656b;
}

#newscontent{
    font-family: 'Roboto', serif;
    font-weight: 300;
    font-size:0.75em;
}

.newsitem{
    margin-bottom: 7px;
}